<Layouts.app flash={@flash}>
  <.header>
    Edit Invoice item {@invoice_item.id}
    <:subtitle>Use this form to manage invoice_item records in your database.</:subtitle>
  </.header>

  <.invoice_item_form changeset={@changeset} action={~p"/invoice_items/#{@invoice_item}"} return_to={~p"/invoice_items"} />
</Layouts.app>
