<Layouts.app flash={@flash}>
  <.header>
    New Invoice
    <:subtitle>Use this form to manage invoice records in your database.</:subtitle>
  </.header>

  <.invoice_form changeset={@changeset} action={~p"/invoices"} return_to={~p"/invoices"} />
</Layouts.app>
