<Layouts.app flash={@flash}>
  <.header>
    Edit Patient {@patient.id}
    <!--:subtitle>Use this form to manage event records in your database.</:subtitle-->
  </.header>

  <.patient_form changeset={@changeset} action={~p"/patients/#{@patient}"} return_to={~p"/patients"} />
</Layouts.app>
