<Layouts.app flash={@flash}>
  <.header>
    Termin ändern {@event.text}
    <!--:subtitle>Use this form to manage event records in your database.</:subtitle-->
  </.header>

  <.event_form changeset={@changeset} action={~p"/events/#{@event}"} return_to={~p"/events"} />
</Layouts.app>
