<Layouts.app flash={@flash}>
  <.header>
    Neuer Termin
    <!--:subtitle>Use this form to manage event records in your database.</:subtitle-->
  </.header>

  <.event_form changeset={@changeset} action={~p"/events"} return_to={~p"/events"} />
</Layouts.app>
