<Layouts.app flash={@flash}>
  <.header>
    New Invoice recipient
    <:subtitle>Use this form to manage invoice_recipient records in your database.</:subtitle>
  </.header>

  <.invoice_recipient_form changeset={@changeset} action={~p"/invoice_recipients"} return_to={~p"/invoice_recipients"} />
</Layouts.app>
